<app-header></app-header>
    <h1 class="text-green-950 font-serif text-2xl font-bold my-12 mb-10 text-center">
      Mes emprunts
    </h1>

  @if (erreur) {
  <div class="bg-red-500/20 text-red-400 px-4 py-3 rounded">
    {{ erreur }}
  </div>
}


  <!-- ONGLETS -->
  <div class="flex">
    <button
      class="px-4 py-2 border border-green-950 bg-lime-900 text-orange-50 font-semibold transition cursor-pointer"
      [class.opacity-50]="ongletActif !== 'enCours'"
      (click)="chargerOnglet('enCours')"
    >
      En cours
    </button>
    <button
      class="px-4 py-2 border border-green-950 border-l-0 bg-lime-900 text-orange-50 font-semibold transition cursor-pointer"
      [class.opacity-50]="ongletActif !== 'historique'"
      (click)="chargerOnglet('historique')"
    >
      Historique
    </button>
  </div>

  <!-- TABLEAU -->
  <div class="border border-green-950">
    <div class="grid grid-cols-5 bg-green-950 text-orange-300 font-semibold px-4 py-2">
      <div>Titre</div>
      <div>Auteur</div>
      <div>Date de début</div>
      <div>Date de fin</div>
      <div>Temps restant</div>
    </div>
    <!-- LIGNES -->
    @for (emprunt of (ongletActif === 'enCours' ? empruntsEnCours : empruntsHistorique); track emprunt.idEmprunt) {
      <div class="grid grid-cols-5 px-4 py-2 border-t border-green-950/20 bg-lime-900/10 text-green-950 hover:bg-lime-900/20 transition">
        <div class="underline font-semibold text-green-950">
          <a [routerLink]="['/books', emprunt.livreId]" class="font-semibold text-green-950 hover:underline">{{ emprunt.titreLivre }}</a>
          
        </div>
        <div class="uppercase text-green-950/70">
          {{ emprunt.auteurPrenom }} {{ emprunt.auteurNom }}
        </div>
        <div>
          {{ emprunt.dateDebut | date:'dd/MM/yyyy' }}
        </div>
        <div>
          {{ emprunt.dateRetourPrevue | date:'dd/MM/yyyy' }}
        </div>
        <div>
          <!-- indications de retards -->
           {{ joursRestants(emprunt) }}
        </div>
      </div>
    }
  </div>