<app-header></app-header>

<div class="max-w-md mx-auto m-10">

        <!-- si première connexion après inscription -->
        @if (inscriptionReussie) {
            <div class="alerte alerte-succes" role="alert">
                Compte créé avec succès. Vous pouvez vous connecter.
            </div>
        }

        <!-- (mauvais identifiants par exemple) -->
        @if (erreurServeur) {
            <div class="alerte alerte-erreur" role="alert">
                {{ erreurServeur}}
            </div>
        }

        <form class="bg-green-950 shadow-md rounded px-8 pt-6 pb-8 mb-4 space-y-4"
        [formGroup]="formulaire"
        (ngSubmit)="soumettre()"
        novalidate
        >

        <h1 class="text-orange-50 font-serif text-2xl font-bold mb-6 text-center">Connexion</h1>

          <div>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
            class="bg-lime-900 text-orange-50 w-full px-3 py-2  rounded focus:outline-none focus:ring"

            [class.invalide]="afficherErreur(email)"
          />
          @if (afficherErreur(email)) {
            <span class="text-red-400">
              @if (email.errors?.['required']) { L'adresse email est requise. }
              @if (email.errors?.['email'])    { Le format de l'email est invalide. }
            </span>
          }
        </div>

        <div>
            <input
              id="password"
              formControlName="password"
              placeholder="Mot de passe"
              type="password"
              class="bg-lime-900 text-orange-50 w-full px-3 py-2  rounded focus:outline-none focus:ring"
              [class.invalide]="afficherErreur(password)"
            />
            
          @if (afficherErreur(password)) {
            <span class="text-red-400">
              @if (password.errors?.['required']) { Le mot de passe est requis. }
            </span>
          }
        </div>

        <button
        type="submit"
        class="w-full bg-orange-300 text-green-950 py-2 px-4 rounded hover:bg-orange-200 transition cursor-pointer"
        > Connexion
        </button>

      <p class="text-center text-sm">
        <a routerLink="/register" class="text-orange-50 hover:underline">Créer un compte</a>
      </p>

      </form>

    </div>
